<footer>
	<hr class="featurette-divider">
	<p class="text-center">Designed by Gurvir Singh Cheema in 2014 for COMP 350</p>
	<p class="text-center"><b>Disclaimer: </b>Properties listed in this site may be fictional or copied from other real estate websites for class demonstration. This data will not be used for commerical purposes and wont be distributed by any means.</p>
</footer>