<h3>Our Team</h3>
<p>The staff of Premium Real Estates are dedicated to providing friendly and professional service to all our clients. The strict manager-to-portfolio ratio allows the staff to dedicate their time and efforts to the daily needs that your property requires and deserves. All of our managers are licensed with the Real Estate Council of B.C. and are fully bonded. Our mandate is continuing education to keep current with changes to the Act & regulations, legal matters and other information that may affect your property.</p>
	<hr class="featurette-divider">
<h3>Location</h3>
<img src="http://maps.googleapis.com/maps/api/staticmap?center=49.151038,-122.324305&zoom=12&scale=2&size=550x240&maptype=roadmap&markers=label:D|49.151325,-122.289640&path=color:0x0000FF80|weight:4|50.06419,-120.76172&sensor=true" alt="our location">
