
<p>We encourage you to submit a request for proposal given below or contact us at given contact number and email address. We will be pleased to help if you have concerns regarding
<li>obtaining a quote for management services of our company</li>
<li>Renting/Buying a property</li>
<li>Selling/Listing your property</li>
<li>Any other question</li>
</p>
<hr>
<div class="row">
	<div class="col-md-4">
		<h3>Contact Number</h3>
		<p>+1 (604) 751-4440</p>
	</div>
	<div class="col-md-4">
		<h3>Address</h3>
		<p>33734 Best Ave</p>
		<p>Mission, British Columbia</p>
		<p>V2V 6Z9</p>
	</div>
	<div class="col-md-4">
		<h3>Email</h3>
		<p>Gurvir.Cheema@student.ufv.ca</p>
		<p>GurvirCheema@hotmail.com</p>
	</div>
</div>

<hr>
<h4>Question ?</h4>
<p>If you have any question please feel free to fill this form and send it to us. We will answer your question as quickly as possible</p><br>
<form action="<% mail_to:'garrycheema007@gmail.com' %>" class="form-horizontal" role="form" >
  <div class="form-group">
    <label for="inputemail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="inputemail" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="name" placeholder="Name">
    </div>
  </div>
  <div class="form-group">
    <label for="question" class="col-sm-2 control-label">Question</label>
    <div class="col-sm-4">
		<textarea class="form-control" rows="5" id="question" placeholder="Your Question"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Send</button>
    </div>
  </div>
</form>